@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700');

body {
  font-family: $base__font-family;
  color: $base__text-color;
  background-color: $base__background-color;
  line-height: $base__line-height;
}

