
/* TYPOGRAPHY VARS */
$base__font-family: 'Arsenal', sans-serif;
$base__font-size: 15px;
$base__font-weight: 400; // regular
$base__font-weight--bold: 700;
$base__font-weight--thin: 300;
$base__line-height: 25px;

$base__text-color: #000;
$base__background-color: #eee;


/* COLORS */
$base__success-color: #4CAF50;
$base__danger-color: #f75455;
$base__button-bgColor: #aaa;
$base__button-hoverBgColor: #777;






